{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .white-text {
        color: white;
    }
</style>
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 ">
            <h5 class="white-text">Add a Post!</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 ">

    <div class="card" style="background-color: #282828; border-radius: 20px;">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" class="white-text">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2 justify-content-end">
                    <button class="btn btn-success mt-3" style="background-color: #FFFD01; 
                            color: #1A1A1A; 
                            border-color: #FFFD01;
                            border-radius: 20px;
                            width: 100px;
                    ">Submit!</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>

    {% for post in post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 position-relative">
            <div class="card" style="background-color: #282828; border-radius: 20px;">
                <div class="card-body">
            <div>
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                </a>
                <p class="white-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                </p>
            </div>
            <div class="position-relative">
                {% if post.picture %}
                    <img src="{{ post.picture.url }}" alt="Post Image" class="img-fluid">
                {% endif %}
                <p class="white-text">{{ post.body }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
